<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Todos los Productos disponibles</title>
  </head>

  <body>
    <h1>Productos: <%= categorias %></h1>
    <ul>
      <% for(let producto of productos) { %>
      <li><a href="/productos/<%=producto._id%>"><%= producto.nombre %></a></li>
      <% }%>
    </ul>

    <a href="/puestos">Ir a los puestos</a>
  </body>
</html>
