<!-- NAVIGATION -->
<% if (!user) { %>
<a href="/signin" class="btn btn-primary m-2">Signin</a>
<a href="/signup" class="btn btn-secondary m-2">Signup</a>
<% } else { %>
<a href="/logout" class="btn btn-danger m-2">Logout</a>
<a href="/puestos" class="btn btn-success m-2">Puestos</a>
<a href="/reportes" class="btn btn-info m-2">Reportes</a>
<% } %> <%if (signinMessage) {%>
<p><%= signinMessage %></p>
<% } %> <%if (signupMessage) {%>
<p><%= signupMessage %></p>
<% } %>
