<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%- include('partials/bootstrapcss.ejs') %>
    <title>Feria del Agricultor</title>
  </head>
  <body>
    <header>
      <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="index.ejs"><img src="" width="" alt="" class="d-inline-block align-middle mr-2" /></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
              <a href="/puestos" class="btn btn-success mt-1">Ir a los puestos (Admin)</a>
            </div>
        </div>
    </nav>
    </header>
    
    <center>
      <h1 class="mt-3">¡Bienvenido a la feria del agricultor!</h1>
    </center>
<div class="container">
  <div class="row">
    <div class="col">
      <h1>Puesto:</h1> 

          <div class = "puesto mt-3" style="background-color: rgb(245, 245, 245);"> 
            <hr>
          <% for(let puesto of puestos) { %>
            <ul>
              <h5>
                Numero: <%= puesto.numero %>
              </h5>
              <h6>Productos:</h6>
              <ul>
               
           <% for(let product of puesto.productos) { %>
            <li><%= product.nombre %></li>           
            <% }%>
          </ul>
        </ul>
         <% }%> <%- include('partials/bootstrapjs.ejs') %>
        </div>
    </div>
  </div>
</div>


  </body>
</html>
