<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%- include('partials/bootstrapcss.ejs') %>
    <title>Feria del Agricultor</title>
  </head>
  <body>
    <h1>Bienvenido!</h1>

    <%- include('partials/bootstrapjs.ejs') %>
  </body>
</html>
