<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%- include('partials/bootstrapcss.ejs') %>
  <link rel="stylesheet" href="/css/login.css" />
  <title>Sign in</title>
</head>
<body>
  <main class="d-flex align-items-center min-vh-100 py-3 py-md-0">
    <div class="container">
        <div class="card login-card">
            <div class="row no-gutters">
                <div class="col-md-5">
                    <!-- <img src="./imgs/LOGIN.PNG" alt="login" class="login-card-img"> -->
                </div>
                <div class="col-md-7">
                    <div class="card-body">
                        <!-- <img src="./imgs/LOGO.png" alt="logo" class="logo" height="64" width="64"> -->

                        <form  action="/signin" class="needs-validation" method="POST" novalidate>
                          <div class="form-group">
                              <label for="username" class="form-label">Usuario</label>
                              <input required type="text" name="username" id="username" class="form-control" placeholder="Usuario">
                          </div>
                          <div class="form-group ">
                              <label for="password" class="form-label">Contraseña</label>
                              <input required type="password" name="password" id="password" class="form-control" placeholder="***">
                          </div>
                          <button class="btn btn-success btn-block btn-lg mt-4" style="width: 100%;">Enviar</button>
                      </form>

                        <nav class="login-card-footer-nav">
                            <p>&copy; Todos los derechos reservados</p>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

  <%- include('partials/bootstrapjs.ejs') %>
</body>
</html>
