.puesto{

    border-bottom: 5px solid black;
    padding-bottom: 3%;
    padding-top: 2%;

}
.npuestos{

    
    padding-bottom: 3%;
    padding-top: 2%;

}
h1{

    border-bottom: 5px solid black;
    padding-bottom: 5%;

}
.boton{
    
    width: 30%;
    margin: 0.5%;
}
@media(min-width: 768px){
    .boton{
    
        width: 15%;
        margin: 0.5%;
    }
}
.uppercase{
    text-transform: uppercase;
}
.form_contenedor{
    font-size: 1.3rem;
    width: 15%;
    display:grid;
    gap: 1em;
    grid-auto-columns: 100%; 
}


