<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Agregar un nuevo puesto</title>
  </head>

  <body>
    <h1>Complete el formulario</h1>
    <form action="/puestos" method="POST">
      <div>
        <label for="num">Numero del puesto</label>
        <input type="number" name="numero" id="num" placeholder="Numero" />
      </div>
      <div>
        <label for="due">Duenio:</label>
        <input type="text" id="due" name="duenio" placeholder="duenio" />
      </div>
      <button>Submit</button>
    </form>
  </body>
</html>
